<div class="column">
	<div class="ui segment">
		<h3 class="ui header">
			<i class="mail icon"></i>
			<div class="content">
				Email Settings
				<div class="sub header">Set your e-mail preferences.</div>
			</div>
		</h2>
		<div class="ui top attached buttons">
			<%= render "email_settings/auto_forward_status" %>
			<%= render "email_settings/auto_reply_status" %>
		</div>
	</div>
</div>
