<% if user_signed_in? %>
	<% if @user.errors.any? %>
	<div class="ui error large message">
		<div class="header">
			<%= pluralize(@user.errors.count,"error") %> encountered:
		</div>
		<ul class="list">
			<% @user.errors.full_messages.each do |msg| %>
				<li class="item"><%= msg %></li>
			<% end %>
		</ul>
	</div>
<% end %>

	<div class="ui info message">
		<ul class="list">
		<li>The password length must be at least 8.</li>
		<li>It should satisfy at least three of the following rules (the first and the last characters are not counted): </li>
		<div class="ui ordered list">
		<div class="item">It contains uppercase letter(s).</div>
		<div class="item">It contains lowercase letter(s).</div>
		<div class="item">It contains number(s).</div>
		<div class="item">It contains symbol(s).</div>
		</div>
		</ul>
	</div>


	<%=render "password_form" %>
<% end %>

